USE [master]
GO
/****** Object:  Database [Gestion Usuario]    Script Date: 9/30/2026 12:50:02 AM ******/
CREATE DATABASE [Gestion Usuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion Usuario', FILENAME = N'C:\Users\Administrator\Gestion Usuario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion Usuario_log', FILENAME = N'C:\Users\Administrator\Gestion Usuario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion Usuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion Usuario]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DniCliente] [varchar](15) NOT NULL,
	[LoginVendedor] [nvarchar](250) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Carrito] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[DNI] [varchar](15) NOT NULL,
	[Apellido] [varchar](80) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[FechaAlta] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CobrosFactura]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CobrosFactura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[MetodoPago] [varchar](20) NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[FechaCobro] [datetime] NOT NULL,
	[NroTarjetaEnmasc] [varchar](20) NULL,
	[Banco] [varchar](80) NULL,
	[TitularNombre] [varchar](80) NULL,
	[TitularApellido] [varchar](80) NULL,
	[CodigoAutoriz] [varchar](30) NULL,
 CONSTRAINT [PK_CobrosFactura] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Componentes]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componentes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](30) NOT NULL,
	[Nombre] [varchar](120) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Categoria] [varchar](80) NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Componentes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTOS]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[Id_Evento] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdModulo] [int] NULL,
	[IdTipoEvento] [int] NULL,
	[Detalle] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[DniCliente] [varchar](15) NOT NULL,
	[LoginCajero] [nvarchar](250) NOT NULL,
	[FechaEmision] [datetime] NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[IVA] [decimal](12, 2) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaIntegrada]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaIntegrada](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHija] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaIntegrada] PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre] ASC,
	[IdFamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPatente] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegridadDVH]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegridadDVH](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[IdRegistro] [nvarchar](50) NOT NULL,
	[DVH] [nvarchar](64) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
 CONSTRAINT [PK_IntegridadDVH] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC,
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegridadDVV]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegridadDVV](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](64) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaCarrito]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaCarrito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[IdComponente] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_LineaCarrito] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaFactura]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaFactura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdComponente] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](12, 2) NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_LineaFactura] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DataKey] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolFamilia]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolPatente]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_RolPatente] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [nvarchar](250) NOT NULL,
	[Apellido] [nvarchar](250) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Contrasena] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Bloqueo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[UltimoIntentoFallido] [datetime] NULL,
	[DebeCambiarContrasena] [bit] NOT NULL,
	[Idioma] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carrito] ON 

INSERT [dbo].[Carrito] ([Id], [DniCliente], [LoginVendedor], [FechaCreacion], [Estado], [Total]) VALUES (1, N'46947544', N'jeremias544', CAST(N'2026-09-15T20:41:05.797' AS DateTime), N'Confirmado', CAST(1240000.00 AS Decimal(12, 2)))
INSERT [dbo].[Carrito] ([Id], [DniCliente], [LoginVendedor], [FechaCreacion], [Estado], [Total]) VALUES (2, N'46947544', N'jeremias544', CAST(N'2026-09-15T22:51:53.020' AS DateTime), N'Confirmado', CAST(1240000.00 AS Decimal(12, 2)))
INSERT [dbo].[Carrito] ([Id], [DniCliente], [LoginVendedor], [FechaCreacion], [Estado], [Total]) VALUES (3, N'11111111', N'jeremias544', CAST(N'2026-09-29T20:40:37.523' AS DateTime), N'Confirmado', CAST(1420000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Carrito] OFF
GO
INSERT [dbo].[Clientes] ([DNI], [Apellido], [Nombre], [Email], [Telefono], [FechaAlta], [Activo]) VALUES (N'11111111', N'Aguila', N'Benjamin', N'fY8CIaC/HVREaYTkBoBbUjgRqC+VWfLNkbKXUMznAPk=', N'1159024801', CAST(N'2026-09-29T20:35:11.660' AS DateTime), 1)
INSERT [dbo].[Clientes] ([DNI], [Apellido], [Nombre], [Email], [Telefono], [FechaAlta], [Activo]) VALUES (N'11111112', N'gomez', N'facundo', N'MG8vU0kFL5SuOrGqF1sFg8up/oWsLMT2CMYFnZPpJKI=', N'1159024802', CAST(N'2026-09-29T20:38:52.830' AS DateTime), 1)
INSERT [dbo].[Clientes] ([DNI], [Apellido], [Nombre], [Email], [Telefono], [FechaAlta], [Activo]) VALUES (N'46947544', N'Gomez', N'Facundo', N'lL0mLuvz+LnFmf8aQXx1SeViOh23+tshp125YsVMLUU=', N'1159024801', CAST(N'2026-09-15T20:24:29.100' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[CobrosFactura] ON 

INSERT [dbo].[CobrosFactura] ([Id], [IdFactura], [MetodoPago], [Monto], [FechaCobro], [NroTarjetaEnmasc], [Banco], [TitularNombre], [TitularApellido], [CodigoAutoriz]) VALUES (1, 1, N'Efectivo', CAST(1500400.00 AS Decimal(12, 2)), CAST(N'2026-09-28T12:26:49.087' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CobrosFactura] ([Id], [IdFactura], [MetodoPago], [Monto], [FechaCobro], [NroTarjetaEnmasc], [Banco], [TitularNombre], [TitularApellido], [CodigoAutoriz]) VALUES (2, 2, N'Efectivo', CAST(1718200.00 AS Decimal(12, 2)), CAST(N'2026-09-29T20:41:38.293' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CobrosFactura] ([Id], [IdFactura], [MetodoPago], [Monto], [FechaCobro], [NroTarjetaEnmasc], [Banco], [TitularNombre], [TitularApellido], [CodigoAutoriz]) VALUES (3, 3, N'Efectivo', CAST(1225730.00 AS Decimal(12, 2)), CAST(N'2026-09-29T23:38:53.967' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CobrosFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Componentes] ON 

INSERT [dbo].[Componentes] ([Id], [Codigo], [Nombre], [Descripcion], [Categoria], [Precio], [StockActual], [StockMinimo], [Activo]) VALUES (1, N'CPU-001', N'Intel Core i5-13600K', N'Procesador 14 nucleos LGA1700', N'Procesador', CAST(285000.00 AS Decimal(12, 2)), 15, 3, 1)
INSERT [dbo].[Componentes] ([Id], [Codigo], [Nombre], [Descripcion], [Categoria], [Precio], [StockActual], [StockMinimo], [Activo]) VALUES (2, N'CPU-002', N'AMD Ryzen 7 7800X3D', N'Procesador 8 nucleos AM5', N'Procesador', CAST(520000.00 AS Decimal(12, 2)), 5, 3, 1)
INSERT [dbo].[Componentes] ([Id], [Codigo], [Nombre], [Descripcion], [Categoria], [Precio], [StockActual], [StockMinimo], [Activo]) VALUES (3, N'GPU-001', N'NVIDIA RTX 4070 Super', N'Placa de video 12GB GDDR6X', N'Placa de video', CAST(850000.00 AS Decimal(12, 2)), 8, 2, 1)
SET IDENTITY_INSERT [dbo].[Componentes] OFF
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] ON 

INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2140, N'jeremias544', N'Baja', CAST(N'2026-05-19T10:08:24.127' AS DateTime), 4, 7, NULL)
INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2141, N'jeremias544', N'Baja', CAST(N'2026-05-19T10:09:48.330' AS DateTime), 5, 13, N'Login: lautaro222')
INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2142, N'jeremias544', N'Media', CAST(N'2026-05-19T10:10:06.833' AS DateTime), 5, 10, N'DNI: 12121211')
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [IdCarrito], [DniCliente], [LoginCajero], [FechaEmision], [Subtotal], [IVA], [Total], [Estado]) VALUES (1, N'F-20260928122649068', 2, N'46947544', N'maximo333', CAST(N'2026-09-28T12:26:49.080' AS DateTime), CAST(1240000.00 AS Decimal(12, 2)), CAST(260400.00 AS Decimal(12, 2)), CAST(1500400.00 AS Decimal(12, 2)), N'Cobrada')
INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [IdCarrito], [DniCliente], [LoginCajero], [FechaEmision], [Subtotal], [IVA], [Total], [Estado]) VALUES (2, N'F-20260929204138288', 3, N'11111111', N'jeremias544', CAST(N'2026-09-29T20:41:38.290' AS DateTime), CAST(1420000.00 AS Decimal(12, 2)), CAST(298200.00 AS Decimal(12, 2)), CAST(1718200.00 AS Decimal(12, 2)), N'Cobrada')
INSERT [dbo].[Facturas] ([Id], [NumeroFactura], [IdCarrito], [DniCliente], [LoginCajero], [FechaEmision], [Subtotal], [IVA], [Total], [Estado]) VALUES (3, N'F-20260929233853962', 4, N'46947544', N'jeremias544', CAST(N'2026-09-29T23:38:53.963' AS DateTime), CAST(1013000.00 AS Decimal(12, 2)), CAST(212730.00 AS Decimal(12, 2)), CAST(1225730.00 AS Decimal(12, 2)), N'Cobrada')
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (20, N'Admin Total')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (19, N'Almacenista Base')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (16, N'BitacoraGestion')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 2)
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 3)
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 4)
GO
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'16', N'4e5346e89d05582df7dbe88ef8d663b301dc07960694b7b7aefe310b9869de22', CAST(N'2026-09-30T00:33:03.937' AS DateTime))
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'17', N'baecc7877f6b2e3b81febb09af1d8029004e7442f07aae5b3207bfdea8f5e884', CAST(N'2026-09-30T00:33:03.937' AS DateTime))
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'18', N'c98ed7dd625627212616b2baf8319e50177233e4e31b6fa552c73d8f3a8ab6e1', CAST(N'2026-09-30T00:33:03.937' AS DateTime))
GO
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'Familia', N'665c6bcb4a2d9998c245a36081f5946ed45eefa655a8b23b3412d61acf6f78b2', CAST(N'2026-09-30T00:33:03.937' AS DateTime))
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'FamiliaIntegrada', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', CAST(N'2026-09-30T00:33:03.950' AS DateTime))
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'FamiliaPatente', N'a38b49f44e167009b9af490d8e3c43ab0aae25cdf4ad1a644caeb58cd9da4a4f', CAST(N'2026-09-30T00:33:03.950' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LineaCarrito] ON 

INSERT [dbo].[LineaCarrito] ([Id], [IdCarrito], [IdComponente], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 4, 1, CAST(720000.00 AS Decimal(12, 2)))
INSERT [dbo].[LineaCarrito] ([Id], [IdCarrito], [IdComponente], [Cantidad], [PrecioUnitario]) VALUES (2, 1, 2, 1, CAST(520000.00 AS Decimal(12, 2)))
INSERT [dbo].[LineaCarrito] ([Id], [IdCarrito], [IdComponente], [Cantidad], [PrecioUnitario]) VALUES (1002, 2, 4, 1, CAST(720000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[LineaCarrito] OFF
GO
SET IDENTITY_INSERT [dbo].[LineaFactura] ON 

INSERT [dbo].[LineaFactura] ([Id], [IdFactura], [IdComponente], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 4, 1, CAST(720000.00 AS Decimal(12, 2)), CAST(720000.00 AS Decimal(12, 2)))
INSERT [dbo].[LineaFactura] ([Id], [IdFactura], [IdComponente], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 1, 2, 1, CAST(520000.00 AS Decimal(12, 2)), CAST(520000.00 AS Decimal(12, 2)))
INSERT [dbo].[LineaFactura] ([Id], [IdFactura], [IdComponente], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 2, 2, 2, CAST(520000.00 AS Decimal(12, 2)), CAST(1040000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[LineaFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (5, N'Admin')
INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (7, N'Carrito')
INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (6, N'Cliente')
SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (1, N'Gestión Usuarios - Ver', N'Usuarios.Ver')
INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (2, N'Gestión Usuarios - Crear', N'Usuarios.Crear')
INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (3, N'Gestión Usuarios - Modificar', N'Usuarios.Modificar')
SET IDENTITY_INSERT [dbo].[Patente] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (10, N'AdminGestionUsuario')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (27, N'Administrador')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RolFamilia] ([IdRol], [IdFamilia]) VALUES (1, 20)
INSERT [dbo].[RolFamilia] ([IdRol], [IdFamilia]) VALUES (16, 16)
INSERT [dbo].[RolFamilia] ([IdRol], [IdFamilia]) VALUES (24, 17)
GO
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 1)
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 2)
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[TipoEvento] ON 

INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (1039, N'Backup automático')
INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (24, N'Backup automatico generado')
INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (1040, N'Backup manual')
SET IDENTITY_INSERT [dbo].[TipoEvento] OFF
GO
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'00000000', N'Lopez', N'Lautaro', N'lautaro000', N'bded47e467ed1d20b249e6b8080bd37492872fe0b5c729fae6fd52f8ef769ee7', N'w2/FSHutnIDUW/QcmhZKbQ==', 0, 1, 11, 0, NULL, 0, N'es')
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'11111116', N'Vergara', N'Alejo', N'alejo116', N'1d67ce4964b0bab4066ed684541c91238aa92197e280718038405b7899064db4', N'P+bKpZYuSEhtmCSOfqj/p9WfACx4SyVzqo5+OdKF6EI=', 0, 1, 1, 0, NULL, 0, N'es')
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'12121211', N'Gomez', N'pepe', N'pepe211', N'163d91856700395350a27f141986935e70df70015307eae44853558301db7a89', N'Yo5pmztsqhu13ineCpalcdVf/RSpoJzSyj0NSDJO8/g=', 0, 1, 10, 0, NULL, 0, N'es')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Componentes_Codigo]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Componentes] ADD  CONSTRAINT [UQ_Componentes_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Facturas_Numero]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [UQ_Facturas_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Familia__75E3EFCF483F01B7]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Familia] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modulo__75E3EFCF2E743897]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Modulo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patente__6A1C4B2F137C45EC]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Patente] ADD UNIQUE NONCLUSTERED 
(
	[DataKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patente__75E3EFCF7D82E1F5]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Patente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__75E3EFCF73B25850]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoEven__75E3EFCF53503886]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[TipoEvento] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserName]    Script Date: 9/30/2026 12:50:02 AM ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carrito] ADD  CONSTRAINT [DF_Carrito_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Carrito] ADD  CONSTRAINT [DF_Carrito_Estado]  DEFAULT ('Confirmado') FOR [Estado]
GO
ALTER TABLE [dbo].[Carrito] ADD  CONSTRAINT [DF_Carrito_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CobrosFactura] ADD  CONSTRAINT [DF_CobrosFactura_Fecha]  DEFAULT (getdate()) FOR [FechaCobro]
GO
ALTER TABLE [dbo].[Componentes] ADD  CONSTRAINT [DF_Componentes_StockActual]  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Componentes] ADD  CONSTRAINT [DF_Componentes_StockMinimo]  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Componentes] ADD  CONSTRAINT [DF_Componentes_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[EVENTOS] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF_Facturas_FechaEmision]  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF_Facturas_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[IntegridadDVH] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[IntegridadDVV] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [DebeCambiarContrasena]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Cliente] FOREIGN KEY([DniCliente])
REFERENCES [dbo].[Clientes] ([DNI])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Cliente]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Vendedor] FOREIGN KEY([LoginVendedor])
REFERENCES [dbo].[Usuario] ([UserName])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Vendedor]
GO
ALTER TABLE [dbo].[CobrosFactura]  WITH CHECK ADD  CONSTRAINT [FK_CobrosFactura_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CobrosFactura] CHECK CONSTRAINT [FK_CobrosFactura_Factura]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Modulo] FOREIGN KEY([IdModulo])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_Modulo]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_TipoEvento] FOREIGN KEY([IdTipoEvento])
REFERENCES [dbo].[TipoEvento] ([Id])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_TipoEvento]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Usuario] FOREIGN KEY([UserName])
REFERENCES [dbo].[Usuario] ([UserName])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_Usuario]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cajero] FOREIGN KEY([LoginCajero])
REFERENCES [dbo].[Usuario] ([UserName])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cajero]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Carrito] FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Carrito]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Cliente] FOREIGN KEY([DniCliente])
REFERENCES [dbo].[Clientes] ([DNI])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Cliente]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaIntegrada_Hija] FOREIGN KEY([IdFamiliaHija])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [FK_FamiliaIntegrada_Hija]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaIntegrada_Padre] FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [FK_FamiliaIntegrada_Padre]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Familia]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Patente]
GO
ALTER TABLE [dbo].[LineaCarrito]  WITH CHECK ADD  CONSTRAINT [FK_LineaCarrito_Carrito] FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineaCarrito] CHECK CONSTRAINT [FK_LineaCarrito_Carrito]
GO
ALTER TABLE [dbo].[LineaCarrito]  WITH CHECK ADD  CONSTRAINT [FK_LineaCarrito_Componente] FOREIGN KEY([IdComponente])
REFERENCES [dbo].[Componentes] ([Id])
GO
ALTER TABLE [dbo].[LineaCarrito] CHECK CONSTRAINT [FK_LineaCarrito_Componente]
GO
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD  CONSTRAINT [FK_LineaFactura_Componente] FOREIGN KEY([IdComponente])
REFERENCES [dbo].[Componentes] ([Id])
GO
ALTER TABLE [dbo].[LineaFactura] CHECK CONSTRAINT [FK_LineaFactura_Componente]
GO
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD  CONSTRAINT [FK_LineaFactura_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineaFactura] CHECK CONSTRAINT [FK_LineaFactura_Factura]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPatente]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente] CHECK CONSTRAINT [FK_RolPatente_Patente]
GO
ALTER TABLE [dbo].[RolPatente]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente] CHECK CONSTRAINT [FK_RolPatente_Rol]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Roles]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [CK_Carrito_Estado] CHECK  (([Estado]='Cancelado' OR [Estado]='Confirmado' OR [Estado]='Abierto'))
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [CK_Carrito_Estado]
GO
ALTER TABLE [dbo].[CobrosFactura]  WITH CHECK ADD CHECK  (([MetodoPago]='Tarjeta' OR [MetodoPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD  CONSTRAINT [CK_Componentes_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Componentes] CHECK CONSTRAINT [CK_Componentes_Precio]
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD  CONSTRAINT [CK_Componentes_StockActual] CHECK  (([StockActual]>=(0)))
GO
ALTER TABLE [dbo].[Componentes] CHECK CONSTRAINT [CK_Componentes_StockActual]
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD  CONSTRAINT [CK_Componentes_StockMinimo] CHECK  (([StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Componentes] CHECK CONSTRAINT [CK_Componentes_StockMinimo]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [CK_Facturas_Estado] CHECK  (([Estado]='Anulada' OR [Estado]='Cobrada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [CK_Facturas_Estado]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [CK_FamiliaIntegrada_NoAutoref] CHECK  (([IdFamiliaPadre]<>[IdFamiliaHija]))
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [CK_FamiliaIntegrada_NoAutoref]
GO
ALTER TABLE [dbo].[LineaCarrito]  WITH CHECK ADD  CONSTRAINT [CK_LineaCarrito_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[LineaCarrito] CHECK CONSTRAINT [CK_LineaCarrito_Cantidad]
GO
ALTER TABLE [dbo].[LineaCarrito]  WITH CHECK ADD  CONSTRAINT [CK_LineaCarrito_Precio] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[LineaCarrito] CHECK CONSTRAINT [CK_LineaCarrito_Precio]
GO
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_Carrito_BuscarPendientePorDNI_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Carrito_BuscarPendientePorDNI_GO44]
    @DNI VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    -- Trae el ÚLTIMO carrito confirmado del cliente que aún no tenga factura asociada
    SELECT TOP 1 C.Id, C.DniCliente, C.LoginVendedor, C.FechaCreacion, C.Estado, C.Total
    FROM dbo.Carrito C
    LEFT JOIN dbo.Facturas F ON F.IdCarrito = C.Id
    WHERE C.DniCliente = @DNI
      AND C.Estado = 'Confirmado'
      AND F.Id IS NULL
    ORDER BY C.FechaCreacion DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Carrito_Insertar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Carrito_Insertar_GO44]
    @DniCliente    VARCHAR(15),
    @LoginVendedor NVARCHAR(250),
    @Total         DECIMAL(12,2),
    @Estado        VARCHAR(20) = 'Confirmado'
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Carrito (DniCliente, LoginVendedor, FechaCreacion, Estado, Total)
    VALUES                  (@DniCliente, @LoginVendedor, GETDATE(), @Estado, @Total);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdCarrito;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Carrito_ObtenerPorId_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Carrito_ObtenerPorId_GO44]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, DniCliente, LoginVendedor, FechaCreacion, Estado, Total
    FROM dbo.Carrito
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cliente_ActivarDesactivar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_ActivarDesactivar_GO44]
    @DNI    VARCHAR(15),
    @Activo BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Clientes SET Activo = @Activo WHERE DNI = @DNI;
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cliente_BuscarPorDNI_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_BuscarPorDNI_GO44]
    @DNI VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT DNI, Apellido, Nombre, Email, Telefono, FechaAlta, Activo
    FROM dbo.Clientes
    WHERE DNI = @DNI;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cliente_ExisteDNI_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_ExisteDNI_GO44]
    @DNI VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CAST(COUNT(1) AS INT) AS Existe
    FROM dbo.Clientes
    WHERE DNI = @DNI;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cliente_Insertar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_Insertar_GO44]
    @DNI      VARCHAR(15),
    @Apellido VARCHAR(80),
    @Nombre   VARCHAR(80),
    @Email    VARCHAR(255),   -- ya viene cifrado desde BLL
    @Telefono VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Clientes (DNI, Apellido, Nombre, Email, Telefono, FechaAlta, Activo)
    VALUES                   (@DNI, @Apellido, @Nombre, @Email, @Telefono, GETDATE(), 1);
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cliente_Listar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_Listar_GO44]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT DNI, Apellido, Nombre, Email, Telefono, FechaAlta, Activo
    FROM dbo.Clientes
    ORDER BY Apellido, Nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cliente_ModificarEmail_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_ModificarEmail_GO44]
    @DNI   VARCHAR(15),
    @Email VARCHAR(255)  -- ya cifrado
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Clientes SET Email = @Email WHERE DNI = @DNI;
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cobro_Registrar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cobro_Registrar_GO44]
    @IdFactura         INT,
    @MetodoPago        VARCHAR(20),
    @Monto             DECIMAL(12,2),
    @NroTarjetaEnmasc  VARCHAR(20) = NULL,
    @Banco             VARCHAR(80) = NULL,
    @TitularNombre     VARCHAR(80) = NULL,
    @TitularApellido   VARCHAR(80) = NULL,
    @CodigoAutoriz     VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.CobrosFactura (IdFactura, MetodoPago, Monto, FechaCobro,
                                    NroTarjetaEnmasc, Banco, TitularNombre, TitularApellido, CodigoAutoriz)
    VALUES (@IdFactura, @MetodoPago, @Monto, GETDATE(),
            @NroTarjetaEnmasc, @Banco, @TitularNombre, @TitularApellido, @CodigoAutoriz);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdCobro;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_ActualizarPrecio_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_ActualizarPrecio_GO44]
    @Id     INT,
    @Precio DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Componentes SET Precio = @Precio WHERE Id = @Id;
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_BuscarPorCodigo_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_BuscarPorCodigo_GO44]
    @Codigo VARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Codigo, Nombre, Descripcion, Categoria, Precio, StockActual, StockMinimo, Activo
    FROM dbo.Componentes
    WHERE Codigo = @Codigo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_BuscarPorId_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_BuscarPorId_GO44]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Codigo, Nombre, Descripcion, Categoria, Precio, StockActual, StockMinimo, Activo
    FROM dbo.Componentes
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_DarDeBaja_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_DarDeBaja_GO44]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Componentes SET Activo = 0 WHERE Id = @Id;
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_DescontarStock_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_DescontarStock_GO44]
    @Id       INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Componentes
    SET    StockActual = StockActual - @Cantidad
    WHERE  Id = @Id
       AND StockActual >= @Cantidad;    -- protege contra stock negativo
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_Insertar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_Insertar_GO44]
    @Codigo       VARCHAR(30),
    @Nombre       VARCHAR(120),
    @Descripcion  VARCHAR(500) = NULL,
    @Categoria    VARCHAR(80)  = NULL,
    @Precio       DECIMAL(12,2),
    @StockActual  INT = 0,
    @StockMinimo  INT = 0
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Componentes (Codigo, Nombre, Descripcion, Categoria, Precio, StockActual, StockMinimo, Activo)
    VALUES (@Codigo, @Nombre, @Descripcion, @Categoria, @Precio, @StockActual, @StockMinimo, 1);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NuevoId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_ListarActivos_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_ListarActivos_GO44]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Codigo, Nombre, Descripcion, Categoria, Precio, StockActual, StockMinimo, Activo
    FROM dbo.Componentes
    WHERE Activo = 1
    ORDER BY Nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_ListarTodos_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Componente_ListarTodos_GO44]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Codigo, Nombre, Descripcion, Categoria, Precio, StockActual, StockMinimo, Activo
    FROM dbo.Componentes
    ORDER BY Nombre;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_Reactivar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_Reactivar_GO44]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Componentes SET Activo = 1 WHERE Id = @Id;
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Componente_VerificarStock_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Componente_VerificarStock_GO44]
    @Id       INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        CASE WHEN StockActual >= @Cantidad THEN 1 ELSE 0 END AS TieneStock,
        StockActual
    FROM dbo.Componentes
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_BuscarPorId_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Factura_BuscarPorId_GO44]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, NumeroFactura, IdCarrito, DniCliente, LoginCajero,
           FechaEmision, Subtotal, IVA, Total, Estado
    FROM dbo.Facturas
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_Insertar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Factura_Insertar_GO44]
    @NumeroFactura VARCHAR(20),
    @IdCarrito     INT,
    @DniCliente    VARCHAR(15),
    @LoginCajero   NVARCHAR(250),
    @Subtotal      DECIMAL(12,2),
    @IVA           DECIMAL(12,2),
    @Total         DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Facturas (NumeroFactura, IdCarrito, DniCliente, LoginCajero,
                              FechaEmision, Subtotal, IVA, Total, Estado)
    VALUES (@NumeroFactura, @IdCarrito, @DniCliente, @LoginCajero,
            GETDATE(), @Subtotal, @IVA, @Total, 'Pendiente');
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdFactura;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_ListarConFiltros_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Factura_ListarConFiltros_GO44]
    @FechaDesde  DATETIME       = NULL,
    @FechaHasta  DATETIME       = NULL,
    @DniCliente  VARCHAR(15)    = NULL,
    @Estado      VARCHAR(20)    = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        F.Id,
        F.NumeroFactura,
        F.IdCarrito,
        F.DniCliente,
        F.LoginCajero,
        F.FechaEmision,
        F.Subtotal,
        F.IVA,
        F.Total,
        F.Estado,
        ISNULL(C.Apellido + ', ' + C.Nombre, '(cliente eliminado)') AS ClienteNombreCompleto
    FROM dbo.Facturas F
    LEFT JOIN dbo.Clientes C ON C.DNI = F.DniCliente
    WHERE (@FechaDesde IS NULL OR F.FechaEmision >= @FechaDesde)
      AND (@FechaHasta IS NULL OR F.FechaEmision <= DATEADD(day, 1, @FechaHasta))
      AND (@DniCliente IS NULL OR @DniCliente = '' OR F.DniCliente = @DniCliente)
      AND (@Estado IS NULL OR @Estado = '' OR F.Estado = @Estado)
    ORDER BY F.FechaEmision DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_MarcarCobrada_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Factura_MarcarCobrada_GO44]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Facturas SET Estado = 'Cobrada' WHERE Id = @Id AND Estado = 'Pendiente';
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LineaCarrito_Insertar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LineaCarrito_Insertar_GO44]
    @IdCarrito      INT,
    @IdComponente   INT,
    @Cantidad       INT,
    @PrecioUnitario DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.LineaCarrito (IdCarrito, IdComponente, Cantidad, PrecioUnitario)
    VALUES                       (@IdCarrito, @IdComponente, @Cantidad, @PrecioUnitario);
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LineaCarrito_ListarPorCarrito_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LineaCarrito_ListarPorCarrito_GO44]
    @IdCarrito INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        LC.Id,
        LC.IdCarrito,
        LC.IdComponente,
        LC.Cantidad,
        LC.PrecioUnitario,
        C.Codigo,
        C.Nombre AS ComponenteNombre
    FROM   dbo.LineaCarrito LC
    INNER JOIN dbo.Componentes C ON C.Id = LC.IdComponente
    WHERE  LC.IdCarrito = @IdCarrito
    ORDER  BY LC.Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LineaFactura_Insertar_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LineaFactura_Insertar_GO44]
    @IdFactura      INT,
    @IdComponente   INT,
    @Cantidad       INT,
    @PrecioUnitario DECIMAL(12,2),
    @Subtotal       DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.LineaFactura (IdFactura, IdComponente, Cantidad, PrecioUnitario, Subtotal)
    VALUES (@IdFactura, @IdComponente, @Cantidad, @PrecioUnitario, @Subtotal);
    SELECT CAST(@@ROWCOUNT AS INT) AS Filas;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LineaFactura_ListarPorFactura_GO44]    Script Date: 9/30/2026 12:50:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LineaFactura_ListarPorFactura_GO44]
    @IdFactura INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT LF.Id, LF.IdFactura, LF.IdComponente, LF.Cantidad,
           LF.PrecioUnitario, LF.Subtotal,
           C.Codigo, C.Nombre AS ComponenteNombre
    FROM dbo.LineaFactura LF
    INNER JOIN dbo.Componentes C ON C.Id = LF.IdComponente
    WHERE LF.IdFactura = @IdFactura
    ORDER BY LF.Id;
END

GO
USE [master]
GO
